$header-height: 5rem;
$nav-width: 10rem;
$hamburger-size: 3rem;
$hamburger-padding: ($header-height - $hamburger-size) / 2;

$nav-animation-time: 0.5s;
$header-animation-time: 0.35s;

// z index ordering
$z: 1;

$blinder-z: $z; 
$z : $z +1;

$nav-z: $z;
$z : $z +1;

$header-z: $z;
$z : $z +1;

$hamburger-sideways-z: $z;
$z : $z +1;

$hamburger-upright-z: $z;
$z : $z +1;

// colour palette
$dark: #102027;
$medium: #37474f;
$light: #62727b;
$white: #f5f5f5;

$teal: #64ffda;
$orange: #ff6e40;
$green: #69f0ae;
$blue: #448aff;
$purple: #e040fb;
$yellow: #ffd740;

$primary: $dark;
$secondary: $white;
$background: $white;