// colour palette
$dark: #102027;
$medium: #37474f;
$light: #62727b;
$white: #f5f5f5;

$featured-colour: #4bb4ff;
$projects-colour: #39e859;
$resume-colour: #ffec31;
$contact-colour: #f27827;
$about-colour: #f84ce6;

$primary: $dark;
$secondary: $white;
$background: $white;