$small-size:  48rem;
$medium-size: 62rem;
$large-size:  75rem;

@mixin on-tablet-or-up {
    @media (min-width: $small-size) {
        @content;
    }
}

@mixin on-laptop-or-up {
    @media (min-width: $medium-size) {
        @content;
    }
}

@mixin on-desktop {
    @media (min-width: $large-size) {
        @content;
    }
}


@mixin on-phone {
    @media (max-width: $small-size) {
        @content;
    }
}

@mixin on-tablet-or-down {
    @media (max-width: $medium-size) {
        @content;
    }
}

@mixin on-laptop-or-down {
    @media (max-width: $large-size) {
        @content;
    }
}

@mixin on-tablet {
    @media (min-width: $small-size) and (max-width: $medium-size) {
        @content;
    }
}

@mixin on-laptop {
    @media (min-width: $medium-size) and (max-width: $large-size) {
        @content;
    }
}