$header-height: 4.25rem;
$name-padding: 2.25rem / 2;
$name-height: $header-height - $name-padding * 2;

$hamburger-size: 2.5rem;
$hamburger-padding: ($header-height - $hamburger-size) / 2;

$nav-width: 11rem;
$nav-item-size: 1.6rem;
$nav-item-padding: $nav-item-size * 0.65;

$icon-size: 2.5rem;