@mixin not-selectable {
    -webkit-user-select: none; // Safari
    -moz-user-select:    none; // Firefox
    -ms-user-select:     none; // IE10+ & Edge
    user-select:         none; // Standard
}

@mixin scrollable {
    overflow-y: auto;
}

@mixin link($swatch) {
    color: $swatch;

    transition: all $link-animation-time ease;


    &:visited {
        color: $light;
    }

    &:hover,
    &:focus {
        color: darken($swatch, 20%);
        //font-size: 1.05em;
    }

    &:focus {
        background: transparentize($swatch, 0.75);
    }
}

@mixin is-IE  {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        @content;
    }
}