$header-animation-time: 0.25s;

$nav-animation-time: 0.3s;

$content-swap-animation-time: 0.4s;

$project-animation-time: 0.5s;

$action-bar-animation-time: 0.25s;

$highlight-animation-time: 0.5s;

$link-animation-time: 0.5s;

$collapse-animation-time: 0.5s;

$carousel-animation-time: 0.5s;