$small-size:  48em;
$medium-size: 62em;
$large-size:  75em;

$on-phone:   'only screen and (max-width: #{$small-size} )';
$on-tablet:  'only screen and (min-wdith: #{$small-size} ) and (max-width: #{$medium-size})';
$on-laptop:  'only screen and (min-wdith: #{$medium-size}) and (max-width: #{$large-size} )';
$on-desktop: 'only screen and (min-width: #{$large-size} )';