// colour palette
$dark:   #242424;
$medium: #37474f;
$light:  #4c5d68;
$xlight: #bdbdbd;
$bright: #f5f5f5;

$featured-swatch: #6DAFFF; //#4bb4ff;
$projects-swatch: #58E887; //#39e859;
$resume-swatch:   #FFF86D; //#ffec31;
$contact-swatch:  #E89B58; //#f27827;
$about-swatch:    #FF67C7; //#f84ce6;