// colour palette
$dark:   #242424;
$medium: #37474f;
$light:  #62727b;
$xlight: #bdbdbd;
$bright: #f5f5f5;

$featured-swatch: #4bb4ff;
$projects-swatch: #39e859;
$resume-swatch:   #ffec31;
$contact-swatch:  #f27827;
$about-swatch:    #f84ce6;