$z: -1;
$pdf-z: $z;
$z : $z +1;

$default-z: $z;
$z : $z +1;

$blinder-z: $z;
$z : $z +1;

$nav-z: $z;
$z : $z +1;

$header-z: $z;
$z : $z +1;

$hamburger-sideways-z: $z;
$z : $z +1;

$hamburger-upright-z: $z;
$z : $z +1;